* {
    margin:0;
}
#banner {
    width:300px;
    height:250px;
    display:block;
    overflow:hidden;
    position:relative;
    background-color: #000;
    cursor:pointer;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:rgb(145, 153, 153) 1px solid;
}
.asset {
    top:0; right:0; bottom:0; left:0;
    position:absolute;
    visibility:hidden;
}

/* Frame 1 */

#terbang{
    position:absolute;
    left: 25px;
    top: 25px;
}
#masker{
    position:absolute;
    width: 299px;
    height: 25px;
    margin-top:110px;
    margin-left: 35px;
    overflow: hidden;
}
#copy1 {
    display: block;
    position:absolute;
}

/* Frame 2 */

#frame2-circle {
    position: absolute;
    left: 104px;
    top: 66px;
}
#frame2-hero {
    position: absolute;
    left: 92px;
    top: 58px;
}
#frame2-copy2 {

  position: absolute;
  left: 58px;
  top: 162px;

}
